body {
	background-color: #f9f9f9;
}

.btn, .btn a {
	color: #ffffff;
}

.hide, .hide2 {
	display: none;
}

.show {
	display: block;
}

.buttonDisable {
	pointer-events: none;
}

.buttonEnable {
	pointer-events: all;
}

.button {
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d),
		to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
}

.button:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
}

.button:active {
	border-top-color: #1b435e;
	background: #1b435e;
}

.buttonDisabledLook {
	border-top: 1px solid #9e9e9e;
	background: #9e9e9e;
	background: -webkit-gradient(linear, left top, left bottom, from(#adabad),
		to(#9e9e9e));
	background: -webkit-linear-gradient(top, #adabad, #9e9e9e);
	background: -moz-linear-gradient(top, #adabad, #9e9e9e);
	background: -ms-linear-gradient(top, #adabad, #9e9e9e);
	background: -o-linear-gradient(top, #adabad, #9e9e9e);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: #fafafa;
	font-size: 14px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
}

.buttonDisabledLook:hover {
	border-top-color: #9e9e9e;
	background: #9e9e9e;
	color: #ffffff;
}

.buttonDisabledLook:active {
	border-top-color: #9e9e9e;
	background: #9e9e9e;
}

.whiteCard {
	position: relative;
	margin-right: 10px;
	width: 150px;
	height: 220px;
	border-radius: 10px;
	background: #fff;
	-webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
	margin-top: 10px;
	margin-left: 10px;
	
}

.whiteCardInline{
	display: inline-block;
    vertical-align: bottom;
}

.blackCard {
	position: relative;
	margin-right: 10px;
	width: 150px;
	height: 220px;
	border-radius: 10px;
	background: #000;
	-webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
	margin-top: 10px;
	margin-left: 10px;
}

.blackCard p {
	color: #fff
}

.displayInlineBlock {
	display: inline-block;
}

input[type='radio'] {
	display: none;
}

.whiteCard p, .blackCard p {
	width: 135px;
	word-wrap: break-word;
	margin-top: 5px;
	margin-left: 5px;
	white-space: normal;
}

.redBorder {
	border: 3px solid #ff0000;
}

.noBorder {
	boarder: none;
}

.buttonDivider {
	clear: both;
	padding-top: 1em;
	padding-left: 0.75em;
}

.marginPt5em{
	margin:0.5em;
}

#winnerOfRoundDiv{
	display: none;
}

.winnerOfRoundDiv{
	background-color: blue;
	border-top-color: gold;
	border-right-color: gold;
	border-left-color: gold;
	top: 50%;
	height:5%;
	width: 100%;
	position: fixed;
	z-index: 1;
	border-width: 1px;
}

.winnerOfRoundP{
	width: 100%;
	text-align: center;
	color: gold;
	font-weight: bold;
	margin: auto;
}
.blackWell{
	min-height:20px;
	padding:19px;
	margin-bottom:20px;
	background-color:#000000;
	color:#ffffff;
	border:1px solid #e3e3e3;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05)
}
.centredInlineBlock{
	display: inline-block;
    text-align: center;
}

.whiteCardContainer{
	height:260px;
	overflow:auto;
	width:auto;
	white-space:nowrap;
	margin-top:2em;
	text-align: left;
}